<!DOCTYPE html>
<html>
  <head>
    <title>Upload Products</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="main">
      <form method="post" action="/product">
        <input type="text" name="name" placeholder="Product name">
        <input type="text" name="price" placeholder="product price">
        <input type="text" name="pic" placeholder="pic path or url()">
        <input type="submit" value="submit">
        <button><a href="/read">all products</a></button>
      </form>
    </div>
  </body>
</html>
